html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    list-style-type: none;
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: #ffb300;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    transition: all .1s linear 0s;
    float: right;
    cursor: pointer;
}


/*
 * Styles for card images
 */
.svg {
    display: block;
    text-indent: -9999px;
    width: 80px;
    height: 80px;
}

.tiger {
    background: url(../img/tiger.svg) no-repeat center;
}

.elephant {
    background: url(../img/elephant.svg) no-repeat center;
}

.pig {
    background: url(../img/pig.svg) no-repeat center;
}

.sheep {
    background: url(../img/sheep.svg) no-repeat center;
}

.cow {
     background: url(../img/cow.svg) no-repeat center;
 }

.cat {
    background: url(../img/cat.svg) no-repeat center;
}

.dog {
    background: url(../img/dog.svg) no-repeat center;
}

.zebra {
    background: url(../img/zebra.svg) no-repeat center;
}
.card-wrap {
    width: 125px;
    height: 125px;
    float: left;
}
.card-wrap > .front {
    background: #2e3d49;
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: transform .5s linear 0s;

}
.card-wrap > .back {
    background: #02b3e4;
    cursor: default;
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}
.card-wrap:hover > .front {
   // transform: perspective(600px) rotateY(-180deg);
}
.card-wrap:hover > .back {
   // transform: perspective(600px) rotateY(0deg);
}

.restart:hover {
    color: #02b3e4;
}

.open-front{
    transform: perspective(600px) rotateY(-180deg)!important;
}
.close-front{
    transform: perspective(600px) rotateY(0deg)!important;
}

.open-back{
    transform: perspective(600px) rotateY(0deg)!important;
}
.close-back{
    transform: perspective(600px) rotateY(180deg)!important;
}

.match {
    cursor: default!important;
    background: #02ccba!important;
}

@media only screen and (max-width: 680px) {

    .deck {
        width: 500px;
        min-height: 500px;
        padding: 25px;
    }

    .card-wrap,
    .card {
        height: 100px!important;
        width: 100px!important;
    }
}

@media only screen and (max-width: 530px) {

    .deck {
        width: 350px;
        min-height: 350px;
        padding: 15px;
    }

    .card-wrap,
    .card {
        height: 70px!important;
        width: 70px!important;
    }

    .svg {
        width: 55px;
        height: 55px;
    }
}

@media only screen and (max-width: 368px) {

    .deck {
        width: 310px;
        min-height: 310px!important;
        padding: 10px!important;
    }

    .card-wrap,
    .card {
        height: 65px!important;
        width: 65px!important;
    }

    .score-panel {
        width: 275px;
    }
}