html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}

/*
 * Styles for the deck of cards
 */

.deck {
    list-style-type: none;
    width: 660px;
    min-height: 680px;
    padding: 32px;
    border-radius: 10px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;
}

.deck .card {
    height: 125px;
    width: 125px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.your-score {
    text-align: center;
}

.new-game-wrapper {
    text-align: center;
}

.your-score .stars-score,
.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: #ffb300;
}

.your-score .stars-score li,
.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    transition: all .1s linear 0s;
    float: right;
    cursor: pointer;
}

.timer-score-title,
.timer-score,
.moves-score-title,
.moves-score {
    color: white;
}

.timer-score,
.stars-score {
    padding-right: 30px !important;
}

/*
 * Styles for card images
 */
.svg {
    display: block;
    text-indent: -9999px;
    width: 80px;
    height: 80px;
}

.tiger {
    background: url(../img/tiger.svg) no-repeat center;
}

.elephant {
    background: url(../img/elephant.svg) no-repeat center;
}

.pig {
    background: url(../img/pig.svg) no-repeat center;
}

.sheep {
    background: url(../img/sheep.svg) no-repeat center;
}

.cow {
    background: url(../img/cow.svg) no-repeat center;
}

.cat {
    background: url(../img/cat.svg) no-repeat center;
}

.dog {
    background: url(../img/dog.svg) no-repeat center;
}

.zebra {
    background: url(../img/zebra.svg) no-repeat center;
}

.card-wrap {
    width: 125px;
    height: 125px;
    float: left;
}

.card-wrap > .front {
    background: #2e3d49;
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: transform .5s linear 0s;

}

.card-wrap > .back {
    background: #02b3e4;
    cursor: default;
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.card-wrap:hover > .front {
/ / transform: perspective(600 px) rotateY(- 180 deg);
}

.card-wrap:hover > .back {
/ / transform: perspective(600 px) rotateY(0 deg);
}

.restart:hover {
    color: #02b3e4;
}

.open-front {
    transform: perspective(600px) rotateY(-180deg) !important;
}

.close-front {
    transform: perspective(600px) rotateY(0deg) !important;
}

.open-back {
    transform: perspective(600px) rotateY(0deg) !important;
}

.close-back {
    transform: perspective(600px) rotateY(180deg) !important;
}

.match {
    cursor: default !important;
    background: #02ccba !important;
}

.stars,
.timer {
    padding-right: 30px !important;
}

.description {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.logo {
    height: 30px;
    display: block;
    margin: 0 auto;
}

/* Modal from w3schools*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */

}

.win-header,
.win-score,
.win-text {
    text-align: center;
    color: white;
}

.your-score,
.win-score {
    margin-bottom: 15px;
}

button {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #07526e;
    padding-top: 6px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: pointer;
    border: none;
    background: #109bce;
    background-image: linear-gradient(bottom, rgb(14, 137, 182) 0%, rgb(22, 179, 236) 100%);
    border-radius: 5px;
    box-shadow: inset 0 1px 0 #2ab7ec, 0 5px 0 0 #07526e;
}

button:active {
    top: 3px;
    box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #07526e;
}

button:before {
    font-size: 50px;
    line-height: 1em;
    font-weight: normal;
    color: #fff;
    width: 85px;
    height: 90px;
    display: block;
    position: absolute;
    padding-top: 10px;
    top: 10px;
    text-shadow: 1px 1px 2px #07526e;

}

button:active:before {
    top: 7px;
    font-size: 50px;
    text-shadow: 0 3px 0 #07526e, 0 5px 1px #07526e
}

.new-game-wrapper {
    padding-bottom: 15px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 30%;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 15px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.win-header {
    font-size: 22px;
    margin: 0;
    padding: 30px 0 0 0;
}

.win-text {
    margin: 0;
    font-size: 18px;
    padding: 5px 0 15px 0;
}

.line {
    border-color: #aa7ecd54;
}

@media only screen and (max-width: 680px) {

    .deck {
        width: 500px;
        min-height: 500px;
        padding: 25px;
    }

    .card-wrap,
    .card {
        height: 100px !important;
        width: 100px !important;
    }
}

@media only screen and (max-width: 530px) {

    .deck {
        width: 350px;
        min-height: 350px;
        padding: 15px;
    }

    .card-wrap,
    .card {
        height: 70px !important;
        width: 70px !important;
    }

    .svg {
        width: 55px;
        height: 55px;
    }
}

@media only screen and (max-width: 368px) {

    .stars,
    .timer {
        padding-right: 15px !important;
    }

    .deck {
        width: 310px;
        min-height: 310px !important;
        padding: 10px !important;
    }

    .card-wrap,
    .card {
        height: 65px !important;
        width: 65px !important;
    }

    .score-panel {
        width: 275px;
    }
}